<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="packagename.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SENSOR_ACCELEROMETER" />
    <uses-permission android:name="android.permission.SENSOR_STEP_COUNTER" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/medicure_logo"
        android:label="MediCure"
        android:roundIcon="@mipmap/medicure_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:replace="android:label"
        tools:targetApi="31">

        <receiver android:name=".Broadcasts"/>

        <activity
            android:name=".Patient.medicineReminder"
            android:exported="false" />

        <activity
            android:name=".Patient.patient_online_consultation"
            android:exported="false" />

        <service
            android:name="org.jitsi.meet.sdk.ConnectionService"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:exported="false"
            android:value="AIzaSyDuJ2gKRaOvbw0gUJYlTSTLJCY1D54rCJE" />

        <activity
            android:name=".Patient.allMaps"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Pharmacist.PharmacyMainPage"
            android:exported="false" />
        <activity
            android:name=".Patient.patientRegistration"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.Appointment_Doctor_Check"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".mainstartScreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Doctor.videoConsultation"
            android:exported="false" />
        <activity
            android:name=".Patient.paymentConfirmation"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.cartForm"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.addToCart"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.customerSupport"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.searchDisease"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.e_wallet"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.healthTracker"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.bloodBankOptions"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.bloodBank"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.pharmacyEquipmentOptions"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.patientPharmacy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.viewMedicalRecord"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.nursingService"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.labTestManagement_options"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.labTestManagement"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.urgentCare"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.patientPrescription"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.patientMainPage"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Entrance"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Patient.patientProfileUpdate"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Patient.patientViewProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Patient.patientDashboard"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".Doctor.checkAppointment"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.updateDoctorProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.viewDoctorProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.Prescription"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.VerifyPhoneNo"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashScreenEntrance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doctor.Registeration"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.MedicalRecord"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Patient.patientAppointmentBook"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.OptionsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Doctor.DocLogin"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Doctor.AppointmentNotifications"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pharmacist.AddMedicalEquipment"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pharmacist.CheckPrescription"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pharmacist.AddMedicine"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pharmacist.PharmacistDashboard"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pharmacist.MedicineList"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pharmacist.EditEquipment"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pharmacist.EditMedicine"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pharmacist.MedicalEquipmentList"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>